.character {
    width: 200px;
    margin: 0px 20px 10px 20px;
    cursor: pointer;
    display: inline;
  }
  .character img {
    border: 0 none;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
  }
  .character-name {
    text-align: center;
    text-transform: capitalize;
    line-height: 30px;
    font-family: 'Itim', cursive;
    font-size: 20px;
  }
  .character-health {
    text-align: center;
  }

  button {
      opacity: 0;
  }

  #arena {
      opacity: 0;
      background-image: url(/assets/images/arena.jpg);
      background-position: left top;
      background-size: 100%;
  }